
.group button {
  background-color: #238acb;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.group button:hover {
  background-color: #1f22ad;
  transform: scale(1.1);
}

.read_button {
  background-color: #a6b92c !important;
}

.read_button:hover {
  background-color: #d08d19 !important;
}



/* h1 {
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #333;
  text-shadow: 2px 2px #fff;
  background: linear-gradient(to bottom, #f8f8f8, #ccc);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #ccc;
  text-align: center;

} */

.group {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}



/* Form container */
.form-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  /* border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: Arial, sans-serif;
}


.form-input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #ddd;
  color: black;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  font-family: Arial, sans-serif;
}


.form-submit {
  padding: 10px 20px;
  background-color: rgb(12, 168, 81);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-submit:hover {
  background-color: rgb(10, 134, 66);
  transform: scale(1.1);
}

.connect_wallet {
  background-color: rgb(12, 168, 81);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.connect_wallet:hover {
  background-color: rgb(10, 134, 66);
}

.wallet-info {
  background-color: #f2f2f2;
  border-radius: 5px;
  font-family: Arial, sans-serif;
}

.address {
  font-size: 16px;
  color: #333;
}

.network {
  font-size: 14px;
  color: #666;
  margin-top: 5px;
}